/* body {
    background-color: red;
} */

body {
    font-family: Arial;
    line-height: 25px;
    }

img {
    width:100%;
    }

.column {
    width: 600px;
    margin: 40px auto;
    border: dotted 20px #f77d02;
    padding: 15px;

    }

p {
    border: solid 5px red;
    padding: 5px;
}